
/*
  ========================================
  Layout du site
  ========================================
*/
/*
  ========================================
  Slide début
  ========================================
*/
html, body {
  height: 100%; 
  width: 100%;
  margin: 0;
  padding: 0;
}


video{
  object-fit: fill;
}

/*
  ========================================
  Premier flex Blanc/Image
  ========================================
*/
#conteneur{
  display: flex;
}
.element{
  display: flex;
  flex : 1 ;
  min-width: 0;
  flex-wrap: wrap;
}

.element h1{

  position:relative;
  top: 100px;
  left: 100px;
}
.element div{
  padding-top: 30px;
  padding-bottom: 30px;
}
.element div:hover{
  color:#d5c800;
}
.element{
  background-color: white ;
  flex : 1 1 0;
  min-width: 0;
  justify-content: center;
}

/*
  ========================================
  Deuxieme flex : Image/Blanc
  ========================================
*/



/*
  ========================================
  Login / Inscription
  ========================================
*/


fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input {
  border-radius: 4px;
  font: 14px/1.4 "Arial", Helvetica, Arial, sans-serif;
  margin: 0;
}

.account_info {
  margin-bottom: 6px;
}

.account_info label{
  margin-bottom: 50px;
}

.account_info input, {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}

.private_info input {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}

.account_info #button {
  position: relative;
  background: white;
  border: 1px solid #c6c7cc;
}

#login{
  display: inline-block;
  border: 1px solid #c6c7cc;
}



/*
  ========================================
  Columns
  ========================================
*/


.col-1-4,
.col-2-4,
.col-3-4,
.col-4-4 {
	width: 23%;
	display: inline-block;
   text-align: center;
	border-right: 1px solid #949599;
}
